/* section */
#first-seq {
    background-color: aqua;
    display: flex;
    margin: 0px;
}
/* button */
.shopnow{
    color: white;
    background-color: rgb(222, 73, 73);
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
}

.header{
    width: 50%;
    margin: 70px;
}
h1{
    font-size: 70px;
}
.first-flower{
    margin-top: 40px;
    margin-bottom: -40px;

}