/* section */
#first-seq {
    background-color: rgb(255, 211, 211);
    display: flex;
    padding: 0px 10px;
    margin: 0px;
}
/* button */
.shopnow{
    color: white;
    background-color: rgb(222, 73, 73);
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
}
.first-flower{
    height: 500px;
    width: 400px;
     
    
    ;}
.header{
    width: 50%;
    margin: 70px;
}
h1{
    font-size: 70px;
}
.first-flower{
    margin-top: 40px;
    margin-bottom: 0px;

}